* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, #adb5bd, #F5F5E5, #adb5bd);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

footer {
  color: white;
  background-color: black;
  padding: 5px;
}

.barra {
  border-bottom: solid #ffc107 0.8rem;
  max-width: 30rem;
  margin: 0 auto;
}

.iconoCarrito {
  position: relative;
}

.compraCarrito:hover {
  cursor: pointer;
}

.contador {
  position: absolute;
  font-size: 15px;
  top: 80%;
  right: 0;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.contenidoCarrito {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #F5F5E5;
  border: solid #ffc107;
  width: 500px;
  z-index: 1;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.productoComprado {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid #adb5bd;
}

.descripcionProducto {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.cantidadProducto {
  font-size: 20px;
  font-weight: 400;
  background-color: none;
}

.cerrarIcono:hover {
  cursor: pointer;
}

.infoProducto {
  font-size: 20px;
}

.precioProductoCarrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  background-color: none;
}

.totalPagar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.totalPagar h4 {
  font-size: 20px;
  font-weight: 700;
}

.precioTotalPagar {
  font-size: 20px;
  font-weight: 900;
}

.ocultarCarrito {
  display: none;
}

.cuotasOcultas {
  display: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
header .logo {
  width: 9rem;
  margin: 10px 0px 5px 0px;
}

.navbar ul {
  background-color: black;
}
.navbar ul a {
  padding: 5px;
  border: solid white;
  color: white;
}

.navbar-brand {
  font-weight: lighter;
  font-size: unset;
  margin: 10px;
  color: white;
  padding: 5px;
  border: solid white;
  transition: 0.5s;
}
.navbar-brand:hover {
  background-color: white;
  color: black;
}

.nav-item a {
  color: white;
  margin: 10px;
  text-align: center;
  transition: 0.5s;
}

.show {
  color: black;
  background-color: white;
}

.dropdown-menu li {
  max-width: 18rem;
  text-align: center;
}

@media (min-width: 992px) {
  .dropdown-menu li {
    max-width: 9rem;
  }
}
.dropdown-item {
  margin: 0;
}

span {
  border: solid white;
  background-color: white;
}

.estadisticas {
  font-size: larger;
}

.numeros {
  font-size: 40px;
}

.footerpadre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerpadre .footerhijo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .footerpadre .footerhijo {
    justify-content: center;
  }
}
.footerpadre .footerhijo .redes {
  width: 20px;
  height: 20px;
}

.whatsapp {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .whatsapp {
    position: fixed;
    bottom: 60px;
    right: 50px;
    z-index: 100;
    transition: 1.2s;
  }
  .whatsapp:hover {
    transform: scale(1.4);
  }
}
@media (min-width: 998px) {
  .whatsapp {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 60px;
    right: 30px;
    z-index: 100;
    transition: 1.2s;
  }
  .whatsapp:hover {
    transform: scale(1.4);
  }
}
.row {
  margin: auto;
}

.grid-seccion {
  background-image: linear-gradient(to right, #000, #F5F5E5);
}

/*# sourceMappingURL=styles.css.map */
